<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyFirstWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CurrentDate</display-name>
    <servlet-name>CurrentDate</servlet-name>
    <servlet-class>CurrentDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentDate</servlet-name>
    <url-pattern>/CurrentDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateAndTime</display-name>
    <servlet-name>DateAndTime</servlet-name>
    <servlet-class>DateAndTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateAndTime</servlet-name>
    <url-pattern>/DateAndTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoiceServlet</display-name>
    <servlet-name>ChoiceServlet</servlet-name>
    <servlet-class>ChoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoiceServlet</servlet-name>
    <url-pattern>/ChoiceServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>